body {
    background-color: lightgray;
    
}

#content{
    max-width: 1000px;
    margin: 0 auto;
    outline: darkgray solid 1px;

    padding: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
} 

#topics {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.list {
    max-width: 350px;
    margin: 0 auto;
    text-align: left;
}

li {
    list-style-type: none;
}

h1, h1 + p{
    text-align: center;
}

h1 {
    font-size: 36px;
}

h1 + p {
    color: mediumblue;
    font-size: 22px;
}

hr {
    border: 0;
    height: 3px;
    width: 45%;
    margin-bottom: 20px;
    background: mediumblue;
}

