
* {
box-sizing: border-box;
}

body {
font-size: 20px;
max-width: 1280px;
margin: auto;
padding: 1em;
}

img {
max-width: 100%;
}

.main-nav {
list-style-type: none;
display: flex;
justify-content: right;
}

.main-nav li {
margin-left: 20px;
}

hr{
margin-top: 50px;
}

.media-card-container {
    display: flex;
    flex-direction: column;
}

.media-card-image {
    justify-self: center;
}

.media-card-content {
    padding: 25px;
}
              

@media (min-width:  900px){

body {
    margin: 10px;
}
    
.media-card {
    display: flex;
    flex-direction: row;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery .media-card {
    max-width: 50%;
}

.gallery .media-card-image {
    align-self: center;
}

}