header{
    background-color: #2f7ed8;
    color: white;
    text-align: center;
    padding: 1rem;
}

header h1{
    margin: 0;
}

.menu-btn{
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    justify-self: center;
}

nav {
    display: none;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.5rem 0;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}

h2{
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
}

.gallery img {
    width: 100%;
    max-width: 250px;
    background: white;
    padding: 0.5rem;
    border: 1px solid #aaa;
}

footer {
    background-color: #2f7ed8;
    color: white;
    text-align: center;
    padding: 0.5rem;
}

dialog img {
    max-width: 90%;
    max-height: 90%;
    display: block;
    margin: 25vh auto;
}
dialog {
    width: 100vw;
    height: 100vh;
    max-width: none;
    max-height: none;

    padding: 0;
    border: none;
    background-color: rgba(0,0,0,.75);
    justify-content: center;
    align-items: center;
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 3px 6px;
    font-size: 1.5em;
} 

@media (min-width: 600px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .menu-btn {
        display: none;
    }

    nav {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        margin-top: 0.5rem;
    }

    nav a {
        display: inline;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}