
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header, footer {
    background-color: #222;
    color: white;
    padding: 1rem;
    text-align: center;
}
nav {
    display: none;
}
.main-nav {
    list-style: none;
    padding: 0;
}
.main-nav li {
    padding: 8px;
}
.main-nav a {
    color: #ffc107;
    text-decoration: none;
}
#movieList {
    padding: 0 2rem;
}
.movie {
    border: 2px solid #ccc;
    padding: 1rem;
    border-radius: 10px;
    max-width: 700px;
    margin: 20px auto;
}
.movie h2 {
    color: #b30059;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
}
.movie p {
    padding-left: 20px;
}
.movie img {
    max-width: 100%;
    display: block;
    border-radius: 8px;
    margin: 0 auto;
    grid-area: 1 / 1 / 6 / 2;
}
#desc {
    grid-column: 1/3;
}

@media (min-width: 600px) {
    .menu-btn {
        display: none;
    }
    nav {
        display: block;
    }
    .main-nav {
        display: block;
    }
}

@media (min-width: 900px) {
    .movie {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .main-nav {
        display: flex;
        justify-content: center;
    }
}
          