.page {
    height: 750px;
    width: 80%;
    max-width: 720px;
    margin: 40px auto;
    padding: 60px 60px;
    border: 2px solid lightgrey
}

header {
    text-align: center;
    margin-bottom: 40px;
}

#title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: 3px;
}

#subtitle {
    font-size: 16px;
    letter-spacing: 2px;
    color: #0062b8;
    margin-bottom: 0px;
}

hr {
    width : 75%;
    border: none;
    border-top: 2px solid lightgrey;
    margin-bottom: 30px;
}

#description {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

#list_header {
    font-size: 18px;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 10px;
}

#content {
    margin: 0 auto;
    text-align: left;
    max-width: 80%;
}

main p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: left;
}

ol {
    margin-left: 20px;
}

li {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.6;
}

footer {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 20px;
}

footer img {
    width: 140px;
}