body{
     background: #eee;
     font-family: Arial, sans-serif;
     display: flex;
     justify-content: center;
     padding: 50px;
}

.card-container{
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 80px 200px 80px;
    width: 650px;
    height: 400px;
}

.card{
    background: #ccc;
    border-radius: 12px;
    padding: 20px 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.front{
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 12px;
    background: #d3d3d3;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.back{
    grid-column: 2/4;
    grid-row: 2/4;
    z-index: 1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 120px 20px 1fr;
    border-radius: 12px;
    background: #c0c0c0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);

}

.black-strip{
    grid-column: 2/4;
    background: black;
    height: 60px;
}

.cvc-area{
    grid-column: 2/3;
    grid-row: 3/4;
    padding-left: 50px;
}

#cvc{
    height: 30px;
    width: 60px;
}

.card-number{
    grid-column: 1/3;
    grid-row: 2/3;
}

#cardNumber{
    height: 30px;
}

.card-holder{
    grid-column: 1/3;
    grid-row: 3/4;
}

#cardHolder{
    height: 30px;
}

.card-expiration{
    gap: 5px;
    grid-column: 2/3;
    grid-row: 3/4;
}

#month{
    height: 30px;
}

#year{
    height: 30px;
}

label{
    font-size: 0.8rem;
    display: block;
    margin-bottom: 5px;
}

button{
    padding: 12px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid black;
    background: white;
    cursor: pointer;
    display: block;
    justify-self: right;
}